# A libary for performing HTTP requests to the Discord REST API.
asks>=1.3.6

# A library for asynchronous I/O in Python.
trio>=0.9,<0.10

# An implementation of the WebSockets protocol built on top of trio.
trio-websocket==0.4.0